.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.form {
  margin-top: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input,
.textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.image {
  max-height: 150px;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  object-fit: contain;
  margin-bottom: 5px;
  margin-right: 10px;
}

.fileInput {
  margin-bottom: 10px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}