  body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: black;
    padding: 8px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
  }